.message {
position: relative;
}
.ava{
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    top:20px;
    border: 1px solid black;
}
.divAva{


}
.bgMessage{
    position: relative;
    left: 70px;
    padding: 10px 20px 0 27px;
    background-color: grey;
    width:auto;
    height: auto;
    border-radius: 25px;
}
.bgMessage::before {
    content: '';
    position: absolute;
    left: -8px;
    bottom: 0;
    border: 15px solid grey;
    border-radius: 78px 6px 80px 21px;

}

.bgMessage h5{
    display: inline-block;;
    margin: 0;
    padding-bottom: 8px;
}
.bgMessage p{
    margin: 0;
}
.time{
    position: relative;
    left: 80%;
    bottom: 20px;
    color: lightsteelblue;
}
